<h1>ILS Comparison</h1>
  <nav>
    <%= link_to 'Library Systems', apps_path %>
    <%= link_to 'Features', feature_categories_path %>
    <%= link_to '3rd Party Products', products_path %>
  </nav>


